/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html{
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 800px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 3px;
	border-color: #931420;
	background-color: #fffded;
}
section {
	width: 525px;
	float: right;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fffded;
}
aside {
	width: 215px;
	float: right;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: #fffded;
}


/* the styles for the header */
header img {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
}
header{
	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%)
}
/* the styles for the section */
main {
	clear: left;
	background-color: #fffded;
	padding-bottom: 10px;
}

/* the styles for the footer */

header h2 {
	font-size: 170%;
	color: #800000;
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

main h1{
	font-size: 150%;
	border-top: solid 3px #931420;
	border-bottom: solid 3px #931420;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

main h2{
	font-size: 130%;
	color: #800000;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
}
main h3{
	font-size: 105%;
	padding-bottom: 0.25em;
}
main img{
	padding-bottom: 1em;
}
main p{
	padding-bottom: 0.5em;
}
main blockquote{
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}
main ul{
	padding-bottom: 0.25em;
	padding-left: 1.25em;
	list-style-type: disc;
}
main li{
	padding-bottom: 0.35em;
}
a:hover{
	font-style: italic;
}
footer{
	background-color: #931420;
	padding-top: 1em;
	padding-bottom: 1em;
	clear: right;
}
footer p{
	text-align: center;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #931420;
}


.shadow {
	color: black;
	text-shadow: 2px 2px #800000;
}
header{
	border: solid 3px #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
}
#nav_menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div li{
	float: left;
}
div a{
	position: relative;
	display: inline-block;
	width: 160px;
	text-align: center;
	text-decoration: none;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #800000;
	color: white;
	font-weight: bold;

}
.current{
	color: yellow;
}
.subnav{
	position: absolute;
	float: clear;
	display: inline-block;
}
.subnav-content{
	display: none;
	position: absolute;
	list-style-type: none;
}
div li:hover .subnav-content{
	display: block;
}